
# domains

GLEANER_OSS_DOMAIN=oss.local.dev
GLEANER_OSS_CONSOLE_DOMAIN=minioadmin.local.dev
GLEANER_GRAPH_DOMAIN=graph.local.dev
GLEANER_WEB_DOMAIN=web.local.dev   # features for dev geocodes dev deployment

GLEANER_SPARQLGUI_DOMAIN=sparql.local.dev
GC_CLIENT_DOMAIN=geoccodes.local.dev

# Object store keys
MINIO_ROOT_ACCESS_KEY=worldsbestaccesskey
MINIO_ROOT_SECRET_KEY=worldsbestsecretkey
MINIO_SERVICE_ACCESS_KEY=worldsbestaccesskey
MINIO_SERVICE_SECRET_KEY=worldsbestsecretkey

# local data volumes
# GLEANER_BASE=/tmp/gleaner/
GLEANER_BASE=~/gleaner/ # MAC  minio cannot run in the tmpfs space, at least on a mac.
GLEANER_TRAEFIK=${GLEANER_BASE}/config
GLEANER_OBJECTS=${GLEANER_BASE}/datavol/s3
GLEANER_GRAPH=${GLEANER_BASE}/datavol/graph

# SPARQL GUI
# will use GLEANER_GRAPH_DOMAIN as base
SPARQL_DEFAULT_SPARQL_ENDPOINT_PATH=/blazegraph/namespace/earthcube/sparql

#TREAFIK ADMIN
TRAEFIK_AUTH=admin:$$2y$$05$$0M37fViQ3uHTqkNl0c9C1.disDp5hKPRhVdDetC8MNZ11VXq6msly

# NB Proxy
## for a service key for the gist notebook proxy
# stored gists in each users account
GC_GITHUB_SECRET=OAUTH SECRET
GC_GITHUB_CLIENTID=OAUTH APP ID
GC_NB_AUTH_MODE=service
# a user api key.  All gists are stored in this users account
#GC_GITHUB_USER=USER
#GC_GITHUB_TOKEN=ghp_KEY
#GC_NB_AUTH_MODE=apikey
