#HOST

# domains
GLEANER_ADMIN_DOMAIN=admin.local.dev
GLEANER_OSS_DOMAIN=oss.local.dev
GLEANER_GRAPH_DOMAIN=graph.local.dev
GLEANER_WEB_DOMAIN=web.local.dev
GLEANER_WEB2_DOMAIN=web2.local.dev

# Object store keys
MINIO_ROOT_ACCESS_KEY=worldsbestaccesskey
MINIO_ROOT_SECRET_KEY=worldsbestsecretkey
MINIO_SERVICE_ACCESS_KEY=worldsbestaccesskey
MINIO_SERVICE_SECRET_KEY=worldsbestsecretkey

# local data volumes
export GLEANER_BASE=/tmp/gleaner/
export GLEANER_TRAEFIK=${GLEANER_BASE}/config
export GLEANER_OBJECTS=${GLEANER_BASE}/datavol/s3
export GLEANER_GRAPH=${GLEANER_BASE}/datavol/graph

# NB Proxy
## for a service key for the gist notebook proxy
# stored gists in each users account
GITHUB_SECRET=OAUTH SECRET
GITHUB_CLIENTID=OAUTH APP ID
AUTH_MODE=service
# a user api key.  All gists are stored in this users account
#GITHUB_USER=USER
#GITHUB_TOKEN=ghp_KEY
#AUTH_MODE=apikey
