# local DNS....
# hack as noted at: https://r.je/vje-docker-virtual-server
# v.je resolves to 127.0.0.1
# HOST
HOST=geocodes-dev.earthcube.org

# domains
GLEANER_PORTAINER_DOMAIN=portainer.geocodes-dev.earthcube.org
GLEANER_ADMIN_DOMAIN=admin.geocodes-dev.earthcube.org
GLEANER_OSS_DOMAIN=oss.geocodes-dev.earthcube.org
GLEANER_OSS_CONSOLE_DOMAIN=minioadmin.geocodes-dev.earthcube.org
GLEANER_GRAPH_DOMAIN=graph.geocodes-dev.earthcube.org
GLEANER_WEB_DOMAIN=web.geocodes-dev.earthcube.org   # features for dev geocodes dev deployment
GLEANER_SPARQLGUI_DOMAIN=sparqlui.geocodes-dev.earthcube.org

GC_CLIENT_DOMAIN=geoccodes.geocodes-dev.earthcube.org
GEODEX_BASE_DOMAIN=geodex.org

# Object store keys
MINIO_ROOT_ACCESS_KEY=worldsbestaccesskey
MINIO_ROOT_SECRET_KEY=worldsbestsecretkey
MINIO_SERVICE_ACCESS_KEY=worldsbestaccesskey
MINIO_SERVICE_SECRET_KEY=worldsbestsecretkey

# local data volumes
#GLEANER_BASE=/tmp/earthcube/  # minio cannot run in the tmpfs space, at least on a mac.
#GLEANER_BASE=${HOME}/earthcube/
GLEANER_BASE=${HOME}/earthcube/
GLEANER_TRAEFIK_YML=./config
#GLEANER_OBJECTS=${GLEANER_BASE}/datavol/s3
#GLEANER_GRAPH=${GLEANER_BASE}/datavol/graph
# as docker volumes
GLEANER_OBJECTS=minio
GLEANER_GRAPH=graph

# SPARQL GUI
# will use GLEANER_GRAPH_DOMAIN as base
SPARQL_DEFAULT_SPARQL_ENDPOINT_PATH=/blazegraph/namespace/earthcube/sparql

#TREAFIK ADMIN
TRAEFIK_AUTH=admin::$apr1$D9PTxGF4$IVvae8rkdoIygBu4g3SBu1

# NB Proxy
## for a service key for the gist notebook proxy
# stored gists in each users account
GC_GITHUB_SECRET=OAUTH SECRET
GC_GITHUB_CLIENTID=OAUTH APP ID
GC_NB_AUTH_MODE=service
# a user api key.  All gists are stored in this users account
#GC_GITHUB_USER=USER
#GC_GITHUB_TOKEN=ghp_KEY
#GC_NB_AUTH_MODE=apikey
